* {
	box-sizing: border-box;
}
header, footer, article, section, hgroup, nav, figure, aside{display: block;}
body{
	margin: 0;
	color: #000;
	font: 13px/16px Arial, Helvetica, sans-serif;
	background: #fff;
	min-width: 960px;
}
img{border-style: none;} 
a{
	color: #000;
	text-decoration: none;
}
a:hover{text-decoration: underline;}
input, textarea, select{
	font: 100% arial,sans-serif;
	vertical-align: middle;
}
form, fieldset{
	margin: 0;
	padding: 0;
	border-style: none;
}
.calc-section ::-webkit-input-placeholder {color: #999;}
.calc-section ::-moz-placeholder {
	color: #999;
 	opacity: 1;
}
.calc-section :-moz-placeholder {color: #999;}
.calc-section :-ms-input-placeholder {color: #999;}
.calc-section input:focus::-webkit-input-placeholder {color: transparent; }
.calc-section input:focus::-moz-placeholder {
	color: transparent;
 	opacity: 1;
}
.calc-section input:focus:-moz-placeholder {color: transparent; }
.calc-section input:focus:-ms-input-placeholder {color: transparent; }
#wrapper{
	width: 100%;
	overflow: hidden;
}
.calc-section {
	margin: 0 auto;
	display: block;
	width: 400px;
	padding: 30px 0;
}
.calc-section .row:after{
	clear: both;
	display: block;
	content: '';
}
.calc-section .result-area {
	display: block;
	border: 1px solid #000;
	padding: 8px 20px;
	width: 100%;
	text-align: center;
}
.calc-section .row {
	padding: 0 0 10px;
}
.calc-section input[type="text"] {
	margin: 0 0 0 2%;
	padding: 8px 10px;
	float: left;
	background: #fefefe;
	border: 1px solid #999;
	width: 49%;
	font-size: 13px;
	color: #000;
	float: left;
	outline: none;
	-webkit-transition: ease-in-out 300ms ;
	transition: ease-in-out 300ms;
}
.calc-section input[type="text"]:first-child {
	margin: 0;
}
.calc-section input[type="text"]:focus {
	border-color: #36c;
	background: #efa;
	-webkit-box-shadow: inset 0 0 5px 0 #36c;
	box-shadow: inset 0 0 5px 0 #36c;
}
.calc-section input[type="text"].error {
	border-color: #c63;
}
button[type="button"] {
	position: relative;
	float: left;
	overflow: visible;
	margin: 0 !important;
	border: 1px solid #000;
	color: #fff;
	padding: 4px 10px;
	background: #42b35d;
	font-size: 16px;
	line-height: 22px;
	cursor: pointer;
	-webkit-transition: all 600ms;
	transition: all 600ms;
	outline: none;
}
button[type="button"]:hover {
	background: #13892f;
	text-decoration: none;
}
button[type="button"]:disabled,
button[type="button"]:disabled:hover {
	background: #aaa;
}
button[type="button"].reset {
	background: #36c;
}
button[type="button"].reset:hover {
	background: #18449b;
}
.calc-section .result {
	-webkit-transition: all 600ms;
	transition: all 600ms;
	opacity: 0;
	display: block;
	border: 1px solid #999;
	color: #000;
	padding: 0;
}
.calc-section .result.show {
	padding: 8px 10px;
	opacity: 1;
}
.calc-section .result.error {
	border-color: #c63;
	color: #c63;
}